body {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

a {
  text-decoration: none;
}

pre,
code {
  font-family: var(--font-fira-code);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: light-dark(#dee2e6, #5c5f66);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: light-dark(#a6a7ab, #adb5bd);
}

::-webkit-scrollbar-thumb:hover {
  background: light-dark(#909296, #868e96);
}

.profile-menu {
  transition: 0.2s;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

.profile-menu:hover {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.sbac-Radio-label {
  padding-left: 8px;
}
